img {
 
 
}

.logo {
  width: 100px;
  border-radius: 30%;

}

.preloder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: azure;
  z-index: 100500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #d1914b;
  box-sizing: border-box;
  --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
  --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background:
    var(--c) 11px 15px,
    var(--b) 6px 15px,
    var(--c) 35px 23px,
    var(--b) 29px 15px,
    var(--c) 11px 46px,
    var(--b) 11px 34px,
    var(--c) 36px 0px,
    var(--b) 50px 31px,
    var(--c) 47px 43px,
    var(--b) 31px 48px,
    #f6d353;
  background-size: 15px 15px, 6px 6px;
  animation: l4 3s infinite;
}

@keyframes l4 {
  0% {
    -webkit-mask: conic-gradient(#0000 0, #000 0)
  }

  16.67% {
    -webkit-mask: conic-gradient(#0000 60deg, #000 0)
  }

  33.33% {
    -webkit-mask: conic-gradient(#0000 120deg, #000 0)
  }

  50% {
    -webkit-mask: conic-gradient(#0000 180deg, #000 0)
  }

  66.67% {
    -webkit-mask: conic-gradient(#0000 240deg, #000 0)
  }

  83.33% {
    -webkit-mask: conic-gradient(#0000 300deg, #000 0)
  }

  100% {
    -webkit-mask: conic-gradient(#0000 360deg, #000 0)
  }
}

 
 
* {
  box-sizing: border-box;
}

.long-slider {
  position: relative;
  height: 400px;
  width: 100%;

}

.item-wrap {
  display: flex;
  height: 400px;
  transition: 0.7s ease-out;
  max-width: 100%;
  overflow: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.pdoduct-card {
  padding: 20px;
  margin-left: 20px;
  width: 300px;
  height: 100%;
  background-color: rgb(240, 177, 18);
  transition: 0.8s;
}

.pdoduct-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.arrow-left,
.arrow-right {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 5;
  background-color: rgba(233, 135, 16, 0.829);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  transition: 0.8s;
  font-size: 4em;
  user-select: none;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgb(85, 63, 5);
  cursor: pointer;
  color: #d5d5d5;
}

.arrow-right {
  right: 0;
}


.slider-item {
  /* width: 450px; */
  margin-left: 10px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  /* overflow-y: hidden; */
}




/* Works on Chrome, Edge, and Safari */

.item-wrap::-webkit-scrollbar {
  height: 4px;
  /* висота/ширина скрола */
}

.item-wrap::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  /*смужка */
}

.item-wrap::-webkit-scrollbar-thumb {
  /*те, що їздить */
  background-color: rgb(255, 183, 0);
  border-radius: 20px;
  /* border: 3px solid rgb(163, 163, 163);  */
}

.item-wrap::-webkit-scrollbar-thumb:hover {
  /*те, що їздить */
  background-color: rgb(0, 0, 0);

}

/* Works on Firefox */
.item-wrap {
  scrollbar-width: thin;
  scrollbar-color: rgb(162, 162, 162) rgba(216, 216, 216, 0.574);
}


/* .pdoduct-card img{
    width: 100%;
    height: auto;
 } */
.pdoduct-card p {
  font-weight: 900;
  font-size: 1.2em;
  text-align: center;
}

.pdoduct-card:hover {
  transform: scale(1.1);
  background-color: rgb(247, 244, 244);

}


.novenke {
  text-align: center;
  justify-content: center;

}
.dropdown-menu {
width: -100%;
height: -100%;
}
.footer {
  background-color: #000000;
  padding: 30px 0;
  margin-top: 50px;
}
.socio-link {
  font-size: 2rem;
  color: #d5d5d5;
  margin: 10px;
}

.socio-link:hover {
  color: white;
  
}
.footer p{
  color: #d5d5d5;
}
.img-wrap{
  overflow: hidden;
}
.zagovoloc{
  text-align: center;
  align-items: center;

}
.pronas{
 text-indent: 20px;
 font-weight: 600;
 a
}
.list-how-work{
  list-style-type: none;
}